#title, #instructionTitle, #instructions, footer, aside {
    text-align: center;
    background-color: purple;
    color: #ff0a4b;
    font-size: 1.5em;
    font-weight: bold;
    padding: 50px;
}

#title {
    padding:20px;
}

#gamespace {
	margin: auto;
	clear: both;
	display: block;
	border: 2px solid black;
    margin-bottom: 50px;
}

#instructionTitle {
	font-size: 1em;
}

#instructions {
	border-top: 1px solid black;
	font-size: 0.75em;
	display: none;
    margin-top: 50px;
}

body {
    background-color: #11ff8c;
}

footer {
	clear: both;
	font-size: 2em;
	font-weight: normal;
	color: #ff0a4b;
}

aside {
	border: 1px solid black;
	margin: auto;
	clear: both;
	display: block;
	padding: 2px;
}

#scorezone {
    border: 6px outset blue;
    padding: 15px;
    width: 180px;
    margin-left: 30px;
    margin-top: 70px;
    background-color: pink;
    font-family: "Luminari", monospace;
    color: red;
}

#scorezone h3 {
    font-size: 40px;
}

#score {
    font-size: 25px;
    font-weight: bolder;
    color: purple;
}

#scorep1 {
    font-size: 25px;
    font-weight: bolder;
    color: purple;
}

#scorep2 {
    font-size: 25px;
    font-weight: bolder;
    color: purple;
}

#challenges-pix {
	display: flex;
	justify-content: space-between;
	width: 60%;
	flex-wrap: wrap;
	overflow: hidden;
	margin-left: 20%;
 }
 
#challenges-pix img {
	margin: 5px 5px 0px;
	height: 150px;
	border: solid 1px black;
	width: 150px;
	object-fit: cover; 
}

#challenges-text {
	display: flex;
	justify-content: space-between;
	width: 54%;
	flex-wrap: wrap;
	overflow: hidden;
	margin-left: 23%;
 }
 
 #links {
	text-align: center;
	background-color: purple;
	padding: 25px;
 }
 
 #links a {
	color: #ff0a4b;
	border: solid 5px #ff0a4b;
	border-radius: 5px;
	padding: 15px;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
 }